<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqtHY_GmMn_mtJSvIompyogHFi1OaFQbI</string>
	<key>GCM_SENDER_ID</key>
	<string>901241848860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leguejuste.leguejuste</string>
	<key>PROJECT_ID</key>
	<string>leguejuste</string>
	<key>STORAGE_BUCKET</key>
	<string>leguejuste.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901241848860:ios:b39b413a6a872d6e89cbd9</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901241848860-ios</string>
</dict>
</plist>